
.list .list-item {
    line-height: 40px;
    border-radius: 6px;
    padding: 2px 6px;
}

.list-item div {
    display: inline-block;
}

div.actions, div.articulation {
    width: auto;
}

div.articulation {
    color: #a2a2a2;
}

.actions button {
    font-size: 12pt;
}

.spacer {
    height: 20px;
}